.input1{
    margin-left: 50px;
}
.input3{
    margin-left: 50px;
    margin-top: 30px;
}
.input4{
    margin-left: 50px;
    margin-top: 30px;
}
.input5{
    margin-left: 50px;
    margin-top: 30px;
}
.input6{
    margin-left: 50px;
    margin-top: 30px;
}

.table1{
    margin-left: 50px;
    margin-top: 30px; 
    margin-right: 200px;
}

.table1 {
    border: 1px solid black;
}


.table2 {
    margin-left: 50px;
    margin-top: 15px;  
}

.table3 {
    margin-left: 50px;
    margin-top: 15px;  
}

.next{
    margin-left: 850px;
  }