.table1 {
    border: 1px solid black;
    margin-right: 575px;
    margin-left: 50px;
}

.table2{
    margin-right: 400px;
    height: 100px;
    margin-left: 50px;
}

.table2 ,tr ,input{
    height: 100px;
}

.table3 {
    border: 1px solid black;
    margin-right: 575px;
    margin-left: 50px;
}

.table4{
    margin-right: 400px;
    height: 100px;
    margin-left: 50px;
}

.table4 ,tr ,input{
    height: 100px;
}

.table5 {
    border: 1px solid black;
    margin-right: 575px;
    margin-left: 50px;
}

.table6{
    margin-right: 400px;
    height: 100px;
    margin-left: 50px;
}

.table6 ,tr ,input{
    height: 100px;
}

.table7{
    margin-right: 400px;
    height: 100px;
    margin-left: 50px;
}

.table7 ,tr ,input{
    height: 100px;
}

.table8{
    margin-right: 400px;
    height: 100px;
    margin-left: 50px;
}

.table8 ,tr ,input{
    height: 100px;
}


.table9{
    margin-right: 400px;
    height: 100px;
    margin-left: 50px;
}

.table9 ,tr ,input{
    height: 100px;
}

.next{
    margin-left: 850px;
  }




